.hero {
  padding: 3rem 1.5rem 2rem;
  text-align: center;

  .title {
    text-wrap: balance;
  }

  .subtitle {
    margin: 1.5rem auto;
    max-width: 32rem;
    font-size: 1.25rem;
    line-height: 1.5;
    text-wrap: balance;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  margin: 0 auto;
  padding: 2rem 1.5rem 3rem;
}
