@layer component {
  .icon {
    vertical-align: text-top;
    filter: drop-shadow(0 0 1px var(--c-bg));
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    width: 1.4em;
    height: 1.4em;
    font-size: 1em;
  }
}
